.hide {
    display: none;
  }

  p {
      color: red;
      margin: 0px;
      //position:absolute;
    //   top:0;
    //   left:0;
    //   transform:translate(.1rem,3rem);
      font-size:0.75em;
      //transition-duration:300ms;
  }

//   color: $color-primary;
//   display: block;
//   position:absolute;
//   top:0;
//   left:0;
//   transform:translate(.5rem,1.6rem);
//   font-size:0.75em;
//   transition-duration:300ms;