<!-- <div class="field_row__cell form-group field">
    <div class="control">
        <label for="genderControl">
            <select id="genderControl" formControlName="genderControl" placeHolder="test">

                <option [ngValue]="null">Choose Gender...</option>
                <option *ngFor="let gen of genderes$ | async;" [ngValue]="gen.genderTypeId">{{gen.gender}}
                </option>

            </select>
            <span class="floating_span">Gender</span>
        </label>
    </div>
</div> -->